---
layout: page
---
{% assign lecture = site.data[page.exam] | where: "number", page.number | first %}

<h1>{{ lecture.lecture }}</h1>

<p><strong>Date:</strong> {{ lecture.date }}</p>

<p><strong>Recording:</strong> <a href="{{ lecture.video }}">Link</a></p>

<p><strong>Slides:</strong> <a href="{{ lecture.slides_blank }}">Blank</a> / <a href="{{ lecture.slides_annotated }}">Annotated</a></p>

<p><strong>Activity:</strong> <a href="{{ l.activity }}">{{ "Activity " | append: l.number }}</a><br>/ Key: <a href="{{ l.activity_key }}">{{ "Activity " | append: l.number }} Key</a>
	